<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean  class="com.allen.cap1.Person">
        <property name="name" value="allen" ></property>
        <property name="age" value="18"></property>
    </bean>

	<!--<bean id="allen"  class="com.allen.cap1.bean.User">
		<property name="name" value="allen"></property>
		<property name="age" value="18"></property>
	</bean>

	<bean id="buguoduan"  class="com.allen.cap1.bean.User2">
		<property name="name" value="buguoduan"></property>
		<property name="age" value="24"></property>
	</bean>-->

</beans>